body{
    background-color: rgb(255, 229, 189);
    color: rgb(34, 34, 34);
    font-family: system-ui;
    text-align: center;
    
}

.container{
    display: flex;
    justify-content: center;
    height:75%;
}

.title{
    
    font-size: 40;
    margin: 30px;
    display: flexbox;
}

#myPlot{
    display: flexbox;
    margin:40px;
    
    
}


.formStuff{
    display: flexbox;
    margin: 60px;
    display: inline-block;
    
    
}

.formStuff input{
    border-radius: 10px;
    width: 150px;
    height: 30px;
    padding:5px;
    margin: 8px 2px 20px;

}
.formStuff label{
    font-size: 20px;

    
}

.formStuff button{
    width:75px;
    height:35;
}

.buttonformatting {
    display: flex; /* Use 'flex', not 'flexbox' */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  
}

button {
    width: 75px; /* Width of the button */
    height: 35px; /* Height of the button, added missing unit 'px' */
    cursor: pointer; /* Optional: Changes the cursor to a pointer when hovering over the button */
}